* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    line-height: 1.8;
    /*espaciado texto vertical*/
    font-size: 19px;
    font-weight: 500;
}

body {
    margin: 0 100px 0 100px;
}

.nav-bar {
    position: fixed;
    z-index: 1000;
    /*con valor mil asegura estar por encima de todo*/
    top: 0;
    left: 100px;
    right: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: solid black;
    border-radius: 75px;
    margin-top: 10px;
    padding: 25px;
    font-size: 20px;

}

.nav-bar ul {
    display: flex;
    border: solid black;
    list-style: none;
    /*quitar vineta*/


}

.nav-bar ul li {
    padding: 20px;

}

.nav-bar .cont-hire {
    border: solid black;
    padding: 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-weight: 500;
}

/*presentation*/
.cont-presentation-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 250px;
    gap: 50px;

}


.cont-presentation-text h1 {

    font-size: 70px;
    font-weight: 700;

}

.cont-highlighted {
    font-size: 70px;
    font-weight: 700;
    background-color: aquamarine;
    padding: 5px;
}

.cont-presentation-text p {
    margin: 20px 0 20px 0;
}

.cont-hire-porfolio {
    display: flex;
    gap: 30px;
    margin: 30px 0 20px 0;
    /*estilo button para resaltar*/

}

.cont-hire-porfolio p {
    border: solid black;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

.cont-ubication {
    margin: 50px 0 20px 0;
    display: flex;
    gap: 30px;
}

/*Proyects*/
.cont-proyects {
    font-size: 30px;
    background-color: aquamarine;
    padding: 5px;
    display: inline-block;
    /*solucion para que el fondo ocupe solo el h2, otra solucion es envolver en h2 en un div y darle class*/
    margin: 50px 0 100px 0;
}


.cont-proyects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 17px;
}

.cont-proyect-1 {

    height: 400px;
    border: solid black;
    border-radius: 20px;
    background-color: rgb(178, 253, 253);
    position: relative;
    transform: rotate(-3deg);
    transition: transform 0.3s ease;
}

.cont-proyect-1:hover {
    transform: rotate(-3deg) scale(1.05);
    /* combine los dos transform porque ya tengo un transform para inclinar el contenedor y el hover solo me toma 1*/
}

.cont-button-1 {
    position: absolute;
    top: 80%;
    left: 35%;
    /*no necesita el t.rotate se ajusto con el*/
}

.cont-proyect-2 {

    height: 400px;
    border: solid black;
    border-radius: 20px;
    background-color: bisque;
    position: relative;
    transform: rotate(3deg);
    transition: transform 0.3s ease;
}

.cont-proyect-2:hover {
    transform: rotate(3deg) scale(1.05);
    /* combine los dos transform porque ya tengo un transform para inclinar el contenedor y el hover solo me toma 1*/
}



.cont-button-2 {
    position: absolute;
    top: 80%;
    left: 35%;
    /*no necesita el t.rotate se ajusto con el*/
}

.cont-proyect-3 {

    height: 400px;
    border: solid black;
    border-radius: 20px;
    background-color: rgb(247, 176, 232);
    position: relative;
    transform: rotate(-3deg);
     transition: transform 0.3s ease;
}

.cont-proyect-3:hover {
    transform: rotate(-3deg) scale(1.05);
    /* combine los dos transform porque ya tengo un transform para inclinar el contenedor y el hover solo me toma 1*/
}



.cont-button-3 {
    position: absolute;
    top: 80%;
    left: 35%;
    /*no necesita el t.rotate se ajusto con el*/
}

.cont-button-1 {
    border: solid black;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;

}

.cont-button-2 {
    border: solid black;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;

}

.cont-button-3 {
    border: solid black;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;

}

/*services*/
.cont-mi-services {
    font-size: 30px;
    background-color: aquamarine;
    padding: 5px;
    display: inline-block;
    /* inline-block solucion para que el background ocupe solo el h2, otra solucion es envolver en h2 en un div y darle class*/
    margin: 100px 0 0 0;
}

.cont-services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 100px;
    gap: 20px;
}

.cont-services-cards p {
    font-size: 25px;
    width: 650px;
    height: 220px;
    border-radius: 25px;
    border: solid black;
    /*para centrar el texto en su contenedor*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont-position-1 {
    position: relative;
    background-color: rgb(253, 178, 189);
    transition: transform 0.3s ease;

}
.cont-position-1:hover{
    transform: scale(1.05);
}

.cont-circle-1 {
    width: 30px;
    height: 30px;
    display: inline-block;
    /*si no uso inline-block no toma la forma circular*/
    border: solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 2%;
}

.cont-position-2 {
    position: relative;
    background-color: rgb(178, 253, 253);
    transition: transform 0.3s ease;

}
.cont-position-2:hover{
    transform: scale(1.05);
}

.cont-circle-2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    /*si no uso inline-block no toma la forma circular*/
    border: solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 2%;
}

.cont-position-3 {
    position: relative;
    background-color: bisque;
    transition: transform 0.3s ease;

}
.cont-position-3:hover{
    transform: scale(1.05);
}

.cont-circle-3 {
    width: 30px;
    height: 30px;
    display: inline-block;
    /*si no uso inline-block no toma la forma circular*/
    border: solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 2%;
}

.cont-position-4 {
    position: relative;
    background-color: rgb(247, 176, 232);
    transition: transform 0.3s ease;

}
.cont-position-4:hover{
    transform: scale(1.05);
}

.cont-circle-4 {
    width: 30px;
    height: 30px;
    display: inline-block;
    /*si no uso inline-block no toma la forma circular*/
    border: solid black;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 3%;
    right: 2%;
}